segment-anything/
ejemplos_fibras/
checkpoints/
*.pth
Fibras/
masks_001_512/
data/raw/
data/tiff_images/
Fine_tuned_Detectron2/data/Dataset/Dataset_CA/dark/
Fine_tuned_Detectron2/data/Dataset/Dataset_CA/light/
Fine_tuned_Detectron2/data/Dataset/Dataset_vidrio/dark/
Fine_tuned_Detectron2/data/Dataset/Dataset_vidrio/light/
Fine_tuned_Detectron2/data/Evaluation
Fine_tuned_Detectron2/data/Filtro_CA
Fine_tuned_Detectron2/data/Filtro_vidrio
models/
Resources/
Zero_shot_Detectron2/fibras_detectadas
Zero_shot_Detectron2/fibras_low_res_all
Zero_shot_SAM/feature_extractor
Zero_shot_SAM/fibras_detectadas_b
Zero_shot_SAM/fibras_detectadas_h
Zero_shot_SAM/fibras_detectadas_h_orig
Zero_shot_SAM/fibras_detectadas_h_orig_2
Zero_shot_SAM/fibras_low_res
Zero_shot_SAM/fibras_low_res_all
Zero_shot_SAM/masks
Zero_shot_SAM/masks_b
Zero_shot_SAM/masks_h
